@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Agdasima', sans-serif;
    background-image: url("https://i.pinimg.com/originals/42/a1/e2/42a1e244d6b8c32e64880d87f36c307d.jpg");
}
nav{
    background-color: #404040;
    display:flex;
    justify-content: flex-start;
}
nav a{
    color: darkgreen;
    font-size: 28px;
    margin: 8px 10px;
}
header{
    background-color: darkgreen;
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 36px;
    justify-content: space-between;
    color: #404040;
}
header *{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}
aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
aside *{
    margin: 20px;
}
h2 {
    font-size: 60px;
    margin: 0;
    color: darkgreen;
}
.barRight{
    border-right: 5px solid darkgreen;
}
.barLeft{
    border-left: 5px solid darkgreen;
}
.space{
    color: transparent;
    height: 600px;
}
.projectRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bigProject{
    min-width: 300px;
    width: 97%;
    height: 400px;
}
.smallProject{
    min-width: 100px;
    width: 30%;
    height: 150px;
}
.project{
    padding: 0%;
    border-style: solid;
    border-width: 4px;
    border-color: darkgreen;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}
.project p{
    background-color: darkgreen;
    margin: 0px;
}
#firstProject{
    background-image: url("./rsz_screenshot_2023-10-03_213256.png");
}
#groupProject{
    background-image: url("./rsz_1mvz.png");
}
#himProject{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.emoji.gg%2Femojis%2F2948-thinking.png&f=1&nofb=1&ipt=bac7f5c3dd0338fc728f912c589f196d83d3aeb9abdb0563f9a683bfdb0cbb5b&ipo=images);
}
#portfolioProject{
    background-image: url("./Screenshot\ 2023-07-26\ 203804.png");
}
#About-Me{
    background-color: #404040;
    margin: 30px;
    border: 10px solid #404040;
    display: flex;
}
#Projects{
    background-color: #404040;
    margin: 30px;
    border: 10px solid #404040;
    display: flex;
    flex-direction:row-reverse;
}
#Projects main{
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
#Contacts{
    background-color: #404040;
    margin: 30px;
    border: 10px solid #404040;
    display: flex;
}
p {
    font-size: x-large;
    margin: 30px;
    color: whitesmoke;
    text-indent: 40px;
}